Flask
Flask-RESTful
flask-jwt-extended[asymmetric_crypto]
flask-sqlalchemy
flask-marshmallow
marshmallow-sqlalchemy
requests
python-dotenv
gunicorn
pyodbc
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability