.footer-col {
  margin-bottom: 0em;
}

div.col {
  margin-bottom: 1em;
}

.bg-body.container-fluid {
  width: 95%;
}

.bg-body {
  border-left: 1px;
  border-right: 1px;
  border-top: 0px;
  border-bottom: 0px;

  border-style: solid;
  border-color: var(--bs-border-color);

}

.footer {
  padding-top: 0.5em;
  font-size: large;
  font-weight: bold;
}

.footer a {
  text-decoration: none;
  color: var(--bs-nav-link-color);
}

.navbar-text {
  margin-right: 2em;
}

.smallLogo {
  height: 1.3em;
}

.no-bullets {
  list-style-type: none;
}

.navbar-signed-in-text {
  margin-right: 0.2em;
}

table tr:hover td {
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
}

.vertical-middle {
  vertical-align: middle;
}

.eye-button {
  --bs-btn-padding-x: 0.3rem !important;
  --bs-btn-padding-y: 0.1rem !important;
}

.form-switch > .form-check-input {
  margin-top: .30em !important;
}

.language-json {
  color: var(--bs-code-color);
}